/*
:root {
    color-scheme: dark;
}
*/
.comment-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-top: 80px;
}


.comment-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    background-color: rgb(109, 109, 109);
    
    border: 3px solid rgb(173, 173, 173);
    border-radius: 10px;

    word-break: break-word;
    padding: 10px;
    box-sizing: border-box;
}

.comment-header {
    font-size: 1.2rem;
}

.comment-content {
    background-color: rgb(88, 88, 88);
    padding: 10px;
    border-radius: 5px;
}

.comment-box-content {
    width: 100%;
}