:root {
    color-scheme: dark;
}

.comment-container {
    width: 762px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: #4b4a4a;
    text-align: center;
}

.comment-form {
    text-align: center;
}

label {
    text-align: center;
}

input["type=submit"] {
    width: 120px;
    border-radius: 10px;
    padding: 5px;
}

.submit-button {
    font-size: 1rem;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2d9430;
    color: white;
    cursor: pointer;
    border-radius: 15px;
  }

  textarea {
    resize: none;
    width: 500px;
    height: 100px;
    padding: 5px;
  }