
.comment-container {
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4b4a4a;
    text-align: center;
}

.comment-form {
    text-align: center;
}

label {
    text-align: center;
}

input["type=submit"] {
    width: 120px;
    border-radius: 10px;
    padding: 5px;
}

.submit-button {
    font-size: 1rem;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2d9430;
    color: white;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 500px;
    height: 100px;
    padding: 5px;
}

.comment-form textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
    padding: 10px;
    resize: vertical;
    box-sizing: border-box;
}
