/*
:root {
    color-scheme: dark;
}
*/

.linkclass {
    color: white;
    text-decoration: none;
}

.postpage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.largepost-outer-wrapper {
    width: 762px;

    padding: 20px;
    background-color: #4b4a4a;
    margin-top: 50px;

    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
}

.largepost-wrapper {
    background-color: grey;
    padding: 25px;
    font-size: larger;

}