/*
:root {
    color-scheme: dark;
}
*/


.profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px;
    background-color: #4b4a4a;
    border-radius: 10px;

    width: inherit;
}

.profile-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: inherit;
    left: 0;
    background-color: grey;
}

.profile-bio-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 400px;
    left: 0;
    background-color: grey;
    padding: 10px;
    border-radius: 15px;
    word-break: break-word;
}

.profile-inner-container-creationdate {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    padding: 5px;
    border-radius: 15px;
}

.profile-text {
    font-size: 0.8rem;
}

.profile-your-posts-container {
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    gap: 20px;
}