
.shortpost-master {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortpost-outer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shortpost-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    background-color: #5f5f5f; /* Replace with your desired slightly darker gray color */
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.7);
    padding: 10px; /* Adjust the value to set the padding */

    width: 600px;
    max-width: 600px;
}

.shortpost-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortpost-left {

}

.shortpost-left-inner {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.linkclass {
    color: white;
    text-decoration: none;
}

.title-text {
    font-size: 28px;
}

.author-text {
    text-align: left;
    font-size: 18px;
}