
/*
:root {
    color-scheme: dark;
}
*/

.shortpost-master {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shortpost-outer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.shortpost-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    background-color: light-dark(white,#5f5f5f); /* Replace with your desired slightly darker gray color */
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.7);
    padding: 10px; /* Adjust the value to set the padding */

    width: 98%;
    /*max-width: 600px; */
}

.shortpost-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    height: 100%;
}

.shortpost-left {

}

.shortpost-left-inner {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.linkclass {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 100%;
}

.title-text {
    font-size: 28px;
    margin-top: 10px;
    margin-left: 5px;
}

.author-text {
    text-align: left;
    font-size: 18px;
    margin-left: 5px;
}